table {
  width: 100%;
}

td,
th {
  padding: 1px;
}

body {
  font-family: 'Inter';
}

.hover-content {
  display: none;
}

.parent:hover .hover-content {
  display: flex;
  justify-items: center;
  align-items: center;
}